@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg-color: #008080;
  --header-text-color: #ffffff;
}

.dark {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --header-bg-color: #005A57;
  --header-text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}
